# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea
.project
.pydevproject
.pytest_cache/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Virtual environment
.venv
venv/
.env
ENV/
virtualenv/

*.manifest
*.spec
*.json
!output_config.json
*.csv
*.txt
*.xml
process_mappings.py

# Handling for data path
data/

# VSCode Folder
.vscode/

# MacOS folder
.DS_Store