PyYAML
requests==2.31.0
keboola.component==1.4.3
backoff==1.10.0
ciso8601==2.3.0
dateparser==1.1.8
freezegun==0.3.15
mock==4.0.2
mysql-replication==0.43.0
paramiko==3.3.1
pendulum==1.2.0
pymysql==1.1.0
pytz==2023.3
simplejson==3.19.1
sshtunnel==0.4.0
sqlparse==0.4.4
pyhocon
dataconf
snowflake-connector-python==3.1.1