 server_id              = 1
 log_bin                = /var/log/mysql/mysql-bin.log
 max_binlog_size        = 100M
 binlog_format          = mixed
 binlog_expire_logs_seconds = 864000
 expire_log_days = 1